# payload
DATABASE_URI=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE

# postgresql
POSTGRES_PORT=5432
POSTGRES_ROOT_PASSWORD=Test1234567!
POSTGRES_APP_USERNAME=cheese-library
POSTGRES_APP_PASSWORD=cheese-password
POSTGRES_APP_DATABASE=cheese-library

# docker settings
COMPOSE_FILE=docker-compose.yml:docker-compose.local.yml
COMPOSE_PROJECT_NAME=cheese-library
COMPOSE_PATH_SEPARATOR=: